{
    http_port 8080
    https_port 8443
    log {
        output stdout
        level INFO
    }
    auto_https off
}
your-ip-template:8080 {
    tls internal
    root * /usr/share/caddy
    encode zstd gzip
    file_server
    reverse_proxy localhost:8080
    php_fastcgi localhost:9000
    import sites-enabled/*
}
